@import "tailwindcss";

@theme {
	--font-sans: "Neue Regrade", system-ui, sans-serif;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Regular Italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Medium Italic.otf") format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Semibold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade SemiBold Italic.otf") format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Bold Italic.otf") format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade Extrabold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Neue Regrade";
	src: url("/fonts/Neue Regrade ExtraBold Italic.otf") format("opentype");
	font-weight: 800;
	font-style: italic;
}
